$dark-blue: rgb(1,19,78);
$blue: rgb(42,116,219);
$gian: rgb(10,214,156);
$grey-icon: rgb(128,137,166);
$light-grey-icon: #DADADA;
$grey-bg: rgb(247,249,252);
$grey-text: rgb(156,161,174);
$grey-border: #F5F6F9;