<div class="container">
  <div class="form-item">
    <label for="date">
      Date
      <input id="date" type="text" placeholder="дд.мм.гггг" [formControl]="dateField">
    </label>
    <button type="button" (click)="getDate()">Ok</button>
  </div>
  <div class="form-item">
    <label for="date">
      Matrix
      <input id="matrix" type="text" [formControl]="matrixField">
    </label>
    <label for="date">
      Destiny number
      <input id="destinyNumb" type="text" [(ngModel)]="destinyNumb">
    </label>
    <button type="button" (click)="calculateMatrix()">Ok</button>
  </div>

  <!-- <div class="content foo">
    <div class="matrix-table">
      <div class="green-cell br">
        <span>Число судьбы</span>
        <span>
          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M5.88994113,11.0006059 L14.2502675,2.31190368 C14.6422616,1.90451286 15.2872749,1.89496039 15.690945,2.29056765 C16.094615,2.6861749 16.1040803,3.33713346 15.7120861,3.74452427 L5.84419993,14 L0.26642342,7.8343377 C-0.112962447,7.41496537 -0.083651988,6.7646091 0.331890163,6.38172632 C0.747432315,5.99884353 1.3918488,6.02842416 1.77123467,6.44779649 L5.88994113,11.0006059 Z" id="path-done1" fill="#35605A"></path>
        </svg>
        </span>
      </div>
      <div class="green-cell"></div>
      <div class="green-cell"></div>
      <div class="green-cell bl bb">
        <span>Темперамент</span>
        <span>
          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M5.88994113,11.0006059 L14.2502675,2.31190368 C14.6422616,1.90451286 15.2872749,1.89496039 15.690945,2.29056765 C16.094615,2.6861749 16.1040803,3.33713346 15.7120861,3.74452427 L5.84419993,14 L0.26642342,7.8343377 C-0.112962447,7.41496537 -0.083651988,6.7646091 0.331890163,6.38172632 C0.747432315,5.99884353 1.3918488,6.02842416 1.77123467,6.44779649 L5.88994113,11.0006059 Z" id="path-done1" fill="#35605A"></path>
          </svg>
        </span>
      </div>
      <div class="br bb bc">
        <span>Характер</span>
        <span>1</span>
      </div>
      <div class="br bb bc">
        <span>Здоровье</span>
        <span>4</span>
      </div>
      <div class="bb bc">
        <span>Удача</span>
        <span>7</span>
      </div>
      <div class="green-cell bl">
        <span>Цель</span>
        <span>
          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M5.88994113,11.0006059 L14.2502675,2.31190368 C14.6422616,1.90451286 15.2872749,1.89496039 15.690945,2.29056765 C16.094615,2.6861749 16.1040803,3.33713346 15.7120861,3.74452427 L5.84419993,14 L0.26642342,7.8343377 C-0.112962447,7.41496537 -0.083651988,6.7646091 0.331890163,6.38172632 C0.747432315,5.99884353 1.3918488,6.02842416 1.77123467,6.44779649 L5.88994113,11.0006059 Z" id="path-done1" fill="#35605A"></path>
          </svg>
        </span>
      </div>
      <div class="br bb bc">
        <span>Энергия</span>
        <span>2</span>
      </div>
      <div class="br bb bc">
        <span>Логика</span>
        <span>5</span>
      </div>
      <div class="bb bc">
        <span>Долг</span>
        <span>8</span>
      </div>
      <div class="green-cell bl">
        <span>Семья</span>
        <span>
          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M5.88994113,11.0006059 L14.2502675,2.31190368 C14.6422616,1.90451286 15.2872749,1.89496039 15.690945,2.29056765 C16.094615,2.6861749 16.1040803,3.33713346 15.7120861,3.74452427 L5.84419993,14 L0.26642342,7.8343377 C-0.112962447,7.41496537 -0.083651988,6.7646091 0.331890163,6.38172632 C0.747432315,5.99884353 1.3918488,6.02842416 1.77123467,6.44779649 L5.88994113,11.0006059 Z" id="path-done1" fill="#35605A"></path>
          </svg>
        </span>
      </div>
      <div class="br bb bc">
        <span>Интерес</span>
        <span>3</span>
      </div>
      <div class="br bb bc">
        <span>Труд</span>
        <span>6</span>
      </div>
      <div class=" bc">
        <span>Память</span>
        <span>9</span>
      </div>
      <div class="green-cell bl">
        <span>Привычки</span>
        <span>
          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M5.88994113,11.0006059 L14.2502675,2.31190368 C14.6422616,1.90451286 15.2872749,1.89496039 15.690945,2.29056765 C16.094615,2.6861749 16.1040803,3.33713346 15.7120861,3.74452427 L5.84419993,14 L0.26642342,7.8343377 C-0.112962447,7.41496537 -0.083651988,6.7646091 0.331890163,6.38172632 C0.747432315,5.99884353 1.3918488,6.02842416 1.77123467,6.44779649 L5.88994113,11.0006059 Z" id="path-done1" fill="#35605A"></path>
          </svg>
        </span>
      </div>
      <div class="green-cell last-cell br bl">
        <span>Быт</span>
        <span>
          <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M5.88994113,11.0006059 L14.2502675,2.31190368 C14.6422616,1.90451286 15.2872749,1.89496039 15.690945,2.29056765 C16.094615,2.6861749 16.1040803,3.33713346 15.7120861,3.74452427 L5.84419993,14 L0.26642342,7.8343377 C-0.112962447,7.41496537 -0.083651988,6.7646091 0.331890163,6.38172632 C0.747432315,5.99884353 1.3918488,6.02842416 1.77123467,6.44779649 L5.88994113,11.0006059 Z" id="path-done1" fill="#35605A"></path>
          </svg>
        </span>
      </div>
    </div>
  </div> -->

  <div id="matrix" class="content foo">
    <span *ngIf="status === 'show'" class="matrix-string">{{ matrixString }}</span>
    <div class="matrix-table">
      <div class="green-cell">
        <span>Число судьбы</span>
        <span>{{ destinyNumb || '' }}</span>
      </div>
      <div class="green-cell"></div>
      <div class="green-cell">
        <span>{{ dateField.value }}</span>
        <span></span>
      </div>
      <div class="green-cell bl bb">
        <span>Темперамент</span>
        <span>{{ temp || '-' }}</span>
      </div>
      <div class="br bb bc">
        <span>Характер</span>
        <span>{{ returnString(character, '1') || '-' }}</span>
      </div>
      <div class="br bb bc">
        <span>Здоровье</span>
        <span>{{ returnString(health, '4') || '-' }}</span>
      </div>
      <div class="bb bc">
        <span>Удача</span>
        <span>{{ returnString(luck, '7') || '-' }}</span>
      </div>
      <div class="green-cell bl">
        <span>Цель</span>
        <span>{{ goal || '-' }}</span>
      </div>
      <div class="br bb bc">
        <span>Энергия</span>
        <span>{{ returnString(energy, '2') || '-' }}</span>
      </div>
      <div class="br bb bc">
        <span>Логика</span>
        <span>{{ returnString(logic, '5') || '-' }}</span>
      </div>
      <div class="bb bc">
        <span>Долг</span>
        <span>{{ returnString(dolg, '8') || '-' }}</span>
      </div>
      <div class="green-cell bl">
        <span>Семья</span>
        <span>{{ fam || '' }}</span>
      </div>
      <div class="br bb bc">
        <span>Интерес</span>
        <span>{{ returnString(curious, '3') || '-' }}</span>
      </div>
      <div class="br bb bc">
        <span>Труд</span>
        <span>{{ returnString(work, '6') || '-' }}</span>
      </div>
      <div class="bc">
        <span>Память</span>
        <span>{{ returnString(memory, '9') || '-' }}</span>
      </div>
      <div class="green-cell bl">
        <span>Привычки</span>
        <span>{{ habits || '-' }}</span>
      </div>
      <div class="green-cell last-cell br bl">
        <span>Быт</span>
        <span>{{ byt || '-' }}</span>
      </div>
    </div>

    <ng-container *ngIf="status === 'show'">
      <div class="navigation">
        <a class="nav-item" href="#cheatingCodes">Склонность к изменам</a>
        <a class="nav-item" href="#pdCodes">Трудности в создании пары</a>
        <a class="nav-item" href="#occultabilitiesCodes">Оккультные способности</a>
        <a class="nav-item" href="#talentsCodes">Таланты</a>
        <a class="nav-item" href="#careerСodes">Профессии</a>
      </div>
      <div *ngFor="let code of codes?.codes" class="code-block" [innerHTML]="code"></div>
      <ng-container *ngIf="codes?.cheatingcodes?.length">
        <br>
        <h2 id="cheatingCodes">Склонность к изменам</h2>
        <p>В первую очередь важно понимать, что измены редко носят патологический характер(тогда это уже заболевание) и измена - это реакция на матрицу партнера и среды. Всё же к измене склонен людой партнер и невозможно от этого застраховаться.</p>
        <div *ngFor="let code of codes?.cheatingcodes" class="code-block" [innerHTML]="code"></div>
        <br>
      </ng-container>
      <ng-container *ngIf="codes?.pdcodes?.length">
        <br>
        <h2 id="pdCodes">Трудности в создании пары</h2>
        <div *ngFor="let code of codes?.pdcodes" class="code-block" [innerHTML]="code"></div>
        <br>
      </ng-container>
      <ng-container *ngIf="codes?.occultabilitiescodes?.length">
        <br>
        <h2 id="occultabilitiesCodes">Оккультные способности</h2>
        <div *ngFor="let code of codes?.occultabilitiescodes" class="code-block" [innerHTML]="code"></div>
        <br>
      </ng-container>
      <ng-container *ngIf="codes?.talentscodes?.length">
        <br>
        <h2 id="talentsCodes">Таланты</h2>
        <div *ngFor="let code of codes?.talentscodes" class="code-block" [innerHTML]="code"></div>
        <br>
      </ng-container>
      <ng-container *ngIf="codes?.careercodes?.length">
        <br>
        <h2 id="careerСodes">Профессии</h2>
        <p><strong>ВАЖНОЕ ЗАМЕЧАНИЕ:</strong> Реализация в профессии и реализация важных профессиональных векторов дает социальный и материальный успех! Важно быть на своем месте и все будет складываться легко! Реальная должность или профессиия могут не совпадать с рекомендуемой, той которая заключена в числах судьбы. Однако если человек принимает положенный вектор, он увидит выдающийся результат. Возможно этого не делать, нельзя принудить людей быть успешными, однако прикоснувшись к своей миссии мы видим абсолютную гармонию.</p>
        <ul>
          <li *ngFor="let code of codes?.careercodes" [innerHTML]="code"></li>
        </ul>
        <br>
      </ng-container>

      <a class="top-nav" href="#matrix">TOP</a>

    </ng-container>
  </div>
</div>
